<launch>
  <!-- Load parameters into the parameter server -->
  <param name="use_sim_time" value="true"/>

  <!-- Run rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find differential_drive_robot)/config/waffle-kin-config.rviz" />
  
  <!-- Run the trajectory tracking controller -->
  <node pkg="unicycle_kin_trajcont_test_1" type="unicycle_kin_trajcont_test_1_node" name="unicycle_kin_trajcont_test_1" />

  <!-- Run the controller -->
  <node pkg="unicycle_kin_trajcont" type="unicycle_kin_trajcont_node" name="unicycle_kin_trajcont" />

  <!-- Run the simulator -->
  <node pkg="waffle_kin_sim" type="waffle_kin_sim_node" name="waffle_kin_sim" />
</launch>
